html body {
  width: 100%;
  height: 100%;
  margin: 0px;
  color: rgba(0, 0, 0, 0.7);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scrollbar-width: thin;
  scrollbar-color: #cf9c63, rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #cf9c63;
}

.w100 {
  width: 100%;
}

.my-row {
  padding-left: 15px;
}

.dark-bg-div {
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}

.middle-align {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.h-100 {
  height: 100%;
}

.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.79);
}

.section {
  padding: 30px 15px;
  max-height: -moz-max-content;
  max-height: max-content;
}
.section.default-section-height {
  min-height: 100vh;
}
.section .section-overlay {
  padding: 30px 15px;
}

.section-heading h4 {
  text-align: center;
  margin-bottom: 0px !important;
  font-weight: 800;
}
.section-heading div span {
  font-size: 11px;
}
.section-heading div span .svg-inline--fa {
  animation: rotate-icon 1s linear infinite;
  color: #303030;
}
.section-heading div span:before, .section-heading div span:after {
  content: "";
  display: inline-block;
  margin: 0px 5px;
  width: 60px;
  height: 1px;
  background-color: #cf9c63;
}

.primaryBtn {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 20px;
  border: 1px solid #cf9c63;
  color: white;
  text-decoration: none;
  outline: none;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
}
.primaryBtn::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border: 1px solid #cf9c63;
  background: #cf9c63;
  transform: translateY(100%);
  transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  z-index: -1;
  font-weight: 800;
}
.primaryBtn:hover::before {
  transform: translateY(0%);
}
.primaryBtn:active {
  transform: translateY(5px);
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes btnZoom {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
    transform: scale(1.2, 1.5);
  }
  50% {
    opacity: 0.3;
    transform: scale(1.5, 1.7);
  }
  70% {
    opacity: 0.2;
    transform: scale(1.7, 2);
  }
  100% {
    opacity: 0;
    transform: scale(2, 2.2);
  }
}
@keyframes rotate-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes dynamic-border {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes overlay-reveal {
  from {
    height: 24%;
  }
  to {
    height: 100%;
  }
}
* {
  box-sizing: border-box;
}

.main-wrapper {
  position: relative;
}
.main-wrapper .side-menu {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #232323;
  float: left;
  color: #cf9c63;
  padding: 0px;
  overflow: hidden auto;
  z-index: 999;
  width: 250px;
  max-width: 250px;
}
.main-wrapper .side-menu .user-div {
  width: 100%;
  text-align: left;
  padding: 20px 0px;
  text-align: center;
}
.main-wrapper .side-menu .user-div .userImg-container {
  margin: 10px auto;
  width: 130px;
  height: 130px;
  border-radius: 1000px;
  background: url("../Images/RajThilak.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-wrapper .side-menu .user-div h1 {
  font-size: 20px;
  color: white;
}
.main-wrapper .side-menu .user-div span {
  font-size: 13px;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}
.main-wrapper .side-menu .side-nav {
  padding: 10px 0px;
  box-sizing: border-box;
  font-family: "Quicksand", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  text-align: left;
}
.main-wrapper .side-menu .side-nav ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.main-wrapper .side-menu .side-nav ul li {
  letter-spacing: 1px;
  list-style: none;
  margin: 15px 0px;
  cursor: pointer;
}
.main-wrapper .side-menu .side-nav ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #cf9c63;
  padding: 10px 20px;
  transition: color 0.4s ease-out;
}
.main-wrapper .side-menu .side-nav ul li a.active {
  color: #f7f7f7;
  font-weight: 800;
}
.main-wrapper .side-menu .side-nav ul li a.active::before {
  width: 135px;
}
.main-wrapper .side-menu .side-nav ul li a:hover::before {
  transition: all 0.3s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  width: 15px;
}
.main-wrapper .side-menu .side-nav ul li a svg.svg-inline--fa {
  margin-right: 10px;
  font-size: 15px;
}
.main-wrapper .side-menu .side-nav ul li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0%;
  height: 1px;
  background-color: #cf9c63;
  transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  z-index: -1;
}
.main-wrapper .right-section {
  float: left;
  margin-left: 250px;
  padding: 0;
  width: calc(100% - 250px);
  position: relative;
  max-height: 100vh;
  overflow: hidden auto;
  scroll-behavior: smooth;
}
.main-wrapper .right-section .nav-btn {
  position: fixed;
  color: #cf9c63;
  right: 2%;
  top: 1%;
  z-index: 10;
}
.main-wrapper .right-section .home-section {
  width: 100%;
  height: 100vh;
  color: white;
  background: url("../Images/developer-cover.jpg");
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-wrapper .right-section .home-section .home-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.89);
  text-align: center;
}
.main-wrapper .right-section .home-section .home-overlay .middle-align {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.main-wrapper .right-section .home-section .home-overlay .middle-align .home-content {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 700;
}
.main-wrapper .right-section .home-section .home-overlay .middle-align .home-content .smallHeading {
  font-family: "Poppins", Arial, sans-serif;
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 20px;
}
.main-wrapper .right-section .home-section .home-overlay .middle-align .home-content .bigHeading {
  font-size: 65px;
  font-weight: 700;
}
.main-wrapper .right-section .home-section .home-overlay .middle-align .home-content .typewriter {
  position: relative;
  color: white;
  letter-spacing: 0.5px;
  text-transform: none;
}
.main-wrapper .right-section .home-section .home-overlay .middle-align .home-content .typewriter .typewriter-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  color: #cf9c63 !important;
  vertical-align: bottom;
  padding-right: 2px;
  animation-direction: alternate;
}
.main-wrapper .right-section .about-section .description {
  margin: 4% 5%;
  font-size: 15px;
}
.main-wrapper .right-section .about-section .description .intro-bold {
  font-weight: bold;
  font-size: 18px;
}
.main-wrapper .right-section .about-section .skills-wrapper {
  padding: 0% 5%;
  margin-bottom: 3%;
}
.main-wrapper .right-section .about-section .skills-wrapper .progress-wrap {
  margin: 3% 0px;
}
.main-wrapper .right-section .about-section .skills-wrapper .progress-wrap p {
  font-weight: bold;
}
.main-wrapper .right-section .about-section .skills-wrapper .progress-wrap .progress {
  overflow: visible;
  height: 4px;
}
.main-wrapper .right-section .about-section .skills-wrapper .progress-wrap .progress-bar {
  position: relative;
  text-align: right;
  background: #cf9c63;
  overflow: visible;
  height: 4px;
}
.main-wrapper .right-section .about-section .skills-wrapper .progress-wrap .progress-bar span {
  position: absolute;
  top: -35px;
  right: -15px;
  font-weight: bold;
  color: #2c98f0;
  padding: 1% 2%;
  background-color: #cf9c63;
  color: white;
  border-radius: 15%;
}
.main-wrapper .right-section .about-section .skills-wrapper .progress-wrap .progress-bar span:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #cf9c63 transparent transparent transparent;
}
.main-wrapper .right-section .hire-me-section {
  background-color: #232323;
  text-align: center;
  background: url("../Images/laptop-BG.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-wrapper .right-section .hire-me-section .hire-me-section-overlay {
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.79);
}
.main-wrapper .right-section .hire-me-section .hire-me-section-overlay h4 {
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 25px;
}
.main-wrapper .right-section .services-section {
  padding: 30px;
}
.main-wrapper .right-section .services-section .serviceCard-deck {
  padding: 20px 15px;
}
.main-wrapper .right-section .services-section .serviceCard-deck .serviceCard {
  box-sizing: border-box;
  padding: 30px;
  position: relative;
  background: transparent;
  border: 1px solid #ebebeb;
  min-height: 300px;
  max-height: -moz-max-content;
  max-height: max-content;
  border-radius: 5px;
  transition: all 0.5s linear;
}
.main-wrapper .right-section .services-section .serviceCard-deck .serviceCard .header, .main-wrapper .right-section .services-section .serviceCard-deck .serviceCard .card-title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.main-wrapper .right-section .services-section .serviceCard-deck .serviceCard .icon-container {
  border-radius: 5px;
  width: 65px;
  height: 65px;
  background: #fff1e1;
  transition: transform 0.5s ease;
  border: 1px solid #ffdab0;
  transition: all 0.5s cubic-bezier(0.5, 2.6, 0.4, 0.7);
}
.main-wrapper .right-section .services-section .serviceCard-deck .serviceCard .icon-container svg.svg-inline--fa {
  color: #cf9c63;
  margin: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
}
.main-wrapper .right-section .services-section .serviceCard-deck .serviceCard .card-body {
  padding: 0px !important;
}
.main-wrapper .right-section .services-section .serviceCard-deck .serviceCard .card-body .card-text {
  color: #9090a0;
}
.main-wrapper .right-section .services-section .serviceCard-deck .serviceCard:after {
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff1e1;
  transition: all 0.3s linear;
  z-index: -1;
}
.main-wrapper .right-section .services-section .serviceCard-deck .serviceCard:hover, .main-wrapper .right-section .services-section .serviceCard-deck .serviceCard.active {
  border-color: #cf9c63;
  z-index: 1;
}
.main-wrapper .right-section .services-section .serviceCard-deck .serviceCard:hover .icon-container, .main-wrapper .right-section .services-section .serviceCard-deck .serviceCard.active .icon-container {
  background-color: #cf9c63;
}
.main-wrapper .right-section .services-section .serviceCard-deck .serviceCard:hover .icon-container svg.svg-inline--fa, .main-wrapper .right-section .services-section .serviceCard-deck .serviceCard.active .icon-container svg.svg-inline--fa {
  color: white;
}
.main-wrapper .right-section .resume-section {
  background: #f7f7f7;
}
.main-wrapper .right-section .resume-section .m-wrapper h4 {
  font-size: 20px;
  font-weight: bold;
}
.main-wrapper .right-section .resume-section .resume-sec-content {
  padding: 2% 5% 5% 5%;
}
.main-wrapper .right-section .resume-section .resume-sec-content .timeLine-wrapper {
  border-left: 3px solid silver;
  margin: 30px 10px 15px;
  padding: 0.5px 0px;
}
.main-wrapper .right-section .resume-section .resume-sec-content .timeLine-wrapper .timeLine-item {
  background-color: white;
  position: relative;
  margin: 20px;
  padding: 15px;
  border-left: 2px solid #cf9c63;
  box-shadow: 0px 0px 2px silver;
}
.main-wrapper .right-section .resume-section .resume-sec-content .timeLine-wrapper .timeLine-item:first-child {
  margin-top: 0px;
}
.main-wrapper .right-section .resume-section .resume-sec-content .timeLine-wrapper .timeLine-item:last-child {
  margin-bottom: 0px;
}
.main-wrapper .right-section .resume-section .resume-sec-content .timeLine-wrapper .timeLine-item:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #cf9c63;
  left: -27px;
  top: 53px;
  background-color: white;
}
.main-wrapper .right-section .resume-section .resume-sec-content .timeLine-wrapper .timeLine-item:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 2px;
  background-color: #cf9c63;
  left: -17px;
  top: 57px;
}
.main-wrapper .right-section .resume-section .resume-sec-content .timeLine-wrapper .timeLine-item:hover {
  transform: translateY(-5px);
  transition-duration: 0.3s;
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.2);
}
.main-wrapper .right-section .resume-section .resume-sec-content .timeLine-wrapper .timeLine-item:hover h4, .main-wrapper .right-section .resume-section .resume-sec-content .timeLine-wrapper .timeLine-item:hover .clg-details {
  color: #cf9c63;
}
.main-wrapper .right-section .resume-section .resume-sec-content .timeLine-wrapper .timeLine-item h4 {
  margin: 10px 0px;
  font-weight: bold;
  transition: all 0.3s linear;
}
.main-wrapper .right-section .resume-section .resume-sec-content .timeLine-wrapper .timeLine-item .clg-details {
  margin: 10px 0px;
  font-size: 13px;
  color: #5a5a5a;
  font-weight: 700;
}
.main-wrapper .right-section .resume-section .resume-sec-content .timeLine-wrapper .timeLine-item .clg-details .year {
  font-weight: 500;
  color: #6c757d;
  padding-right: 2%;
  border-right: 1px solid rgba(0, 0, 0, 0.7);
}
.main-wrapper .right-section .resume-section .resume-sec-content .timeLine-wrapper .timeLine-item .edu-description {
  margin: 2% 0%;
  font-size: 13px;
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section {
  margin: 30px 10px 15px;
  padding: 0.5px 0px;
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section .experience-group .card {
  border: none;
  background: transparent;
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section .experience-group .card .card-header {
  background-color: #cf9c63;
  color: white;
  border: 1px solid #cf9c63;
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section .experience-group .card .card-header:hover {
  transform: translateY(2px);
  transition-duration: 0.3s;
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.2);
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section .experience-group .card .card-header h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: bold;
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section .experience-group .card .card-header h4:after {
  font-family: "icomoon";
  content: "\e115";
  position: absolute;
  right: 20px;
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section .experience-group .card .collapsed {
  background-color: #232323;
  color: #cf9c63;
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section .experience-group .card .collapsed h4:after {
  content: "\e114";
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section .experience-group .card-body {
  position: relative;
  margin: 1% 0%;
  border: 1px solid silver;
  border-bottom: 3px solid #cf9c63;
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.1);
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section .experience-group .card-body:hover {
  transform: translateY(2px);
  transition-duration: 0.3s;
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.2);
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section .experience-group .card-body .job-duration {
  position: absolute;
  font-size: 12px;
  padding: 1% 2%;
  float: right;
  right: 0px;
  top: 0px;
  color: #cf9c63;
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section .experience-group .card-body ul {
  list-style: none;
  padding: 0px;
  margin-top: 2%;
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section .experience-group .card-body ul h4 {
  font-size: 20px;
  font-weight: bold;
}
.main-wrapper .right-section .resume-section .resume-sec-content .experience-section .experience-group .card-body ul li {
  margin: 1%;
}
.main-wrapper .download-resume-section {
  width: 100%;
  min-height: 200px;
  background: url("../Images/laptop-BG.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-wrapper .download-resume-section .download-section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px 50px;
  background-color: rgba(0, 0, 0, 0.79);
}
.main-wrapper .download-resume-section .download-section-overlay .overlay-inner {
  height: 100%;
  justify-content: center;
  align-items: center;
}
.main-wrapper .download-resume-section .download-section-overlay .overlay-inner h4 {
  text-transform: uppercase;
  color: white;
  min-width: -moz-max-content;
  min-width: max-content;
  margin: 0px 10px;
  margin-bottom: 25px;
}
.main-wrapper .download-resume-section .download-section-overlay .overlay-inner .downloadBtn {
  padding: 8px 30px;
  margin-left: auto;
  margin-bottom: 25px;
  min-width: -moz-max-content;
  min-width: max-content;
}
.main-wrapper .download-resume-section .download-section-overlay .overlay-inner .downloadBtn svg.svg-inline--fa {
  margin: 0px 5px;
}
.main-wrapper .projects-section .filter-btns-container {
  margin: 10px 0px;
}
.main-wrapper .projects-section .filter-btns-container .fltrBtn .fab {
  font-size: 15px;
}
.main-wrapper .projects-section .filter-btns-container .fltrBtn:focus {
  box-shadow: none;
}
.main-wrapper .projects-section .filter-btns-container .active {
  background-color: #cf9c63;
  color: white !important;
}
.main-wrapper .projects-section .grid-row {
  padding: 2% 5%;
}
.main-wrapper .projects-section .grid-row .grid-container {
  padding: 1%;
}
.main-wrapper .projects-section .grid-row .grid-container .fltr-card-container {
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  height: 250px;
  padding: 0px;
  display: none;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
}
.main-wrapper .projects-section .grid-row .grid-container .fltr-card-container .filter-card-inner {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}
.main-wrapper .projects-section .grid-row .grid-container .fltr-card-container .filter-card-inner img {
  width: 100%;
  height: 100%;
}
.main-wrapper .projects-section .grid-row .grid-container .fltr-card-container .img-overlay-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.89);
  opacity: 0;
  color: white;
  transition: all 0.3s linear;
  z-index: 99;
}
.main-wrapper .projects-section .grid-row .grid-container .fltr-card-container .img-overlay-div .overlay-content {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.main-wrapper .projects-section .grid-row .grid-container .fltr-card-container .img-overlay-div .overlay-content h4 {
  font-size: 16px;
  font-weight: bold;
  transform: translateX(1%);
  opacity: 0;
  transition: all 0.3s linear;
}
.main-wrapper .projects-section .grid-row .grid-container .fltr-card-container .img-overlay-div .overlay-content p {
  color: #cf9c63;
  transform: translateX(50%);
  opacity: 0;
  transition: all 0.5s linear;
}
.main-wrapper .projects-section .grid-row .grid-container .fltr-card-container:hover .filter-card-inner {
  opacity: 0.12;
  filter: blur(2px);
}
.main-wrapper .projects-section .grid-row .grid-container .fltr-card-container:hover .img-overlay-div {
  opacity: 1;
}
.main-wrapper .projects-section .grid-row .grid-container .fltr-card-container:hover .img-overlay-div .overlay-content h4, .main-wrapper .projects-section .grid-row .grid-container .fltr-card-container:hover .img-overlay-div .overlay-content p {
  transform: translateX(0);
  opacity: 1;
}
.main-wrapper .projects-section .grid-row .grid-container .show {
  display: block;
  animation: fade_in_show 0.5s;
  transform: scaleX(1);
}
.main-wrapper .contactMe-div {
  background: url("../Images/deal.jpg");
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 0px;
}
.main-wrapper .contactMe-div .contactMe-div-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.89);
}
.main-wrapper .contactMe-div .contactMe-div-overlay .row {
  margin: 0px;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contactMe-content .row {
  margin: 0px;
  padding: 0% 15%;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contactMe-content .contact-box-container {
  padding: 1%;
  margin: 1% 0%;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contactMe-content .contact-box-container .contact-box {
  padding: 1% 3%;
  cursor: pointer;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contactMe-content .contact-box-container .contact-box .icon-container, .main-wrapper .contactMe-div .contactMe-div-overlay .contactMe-content .contact-box-container .contact-box .contact-detail {
  text-align: center;
  font-size: 18px;
  margin: 2% 1%;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contactMe-content .contact-box-container .contact-box .icon-container .icon, .main-wrapper .contactMe-div .contactMe-div-overlay .contactMe-content .contact-box-container .contact-box .contact-detail .icon {
  color: #cf9c63;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contactMe-content .contact-box-container .contact-box .contact-detail {
  color: white;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contactMe-content .contact-box-container .contact-box:hover .contact-detail {
  color: #cf9c63;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contactMe-content .contact-box-container .contact-box:hover .icon {
  color: white;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contact-form-container {
  padding: 20px;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contact-form-container .section-heading .fa .fa-star {
  color: white !important;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contact-form-container .contact-form {
  background-color: rgb(0, 0, 0);
  padding: 20px 10px;
  overflow: hidden;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contact-form-container .contact-form .input-container {
  margin: 5% 2%;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contact-form-container .contact-form .input-container input, .main-wrapper .contactMe-div .contactMe-div-overlay .contact-form-container .contact-form .input-container textarea {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0px;
  color: white;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contact-form-container .contact-form .input-container input:focus, .main-wrapper .contactMe-div .contactMe-div-overlay .contact-form-container .contact-form .input-container textarea:focus {
  outline: none;
  border-color: #cf9c63;
  box-shadow: none;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contact-form-container .contact-form .sendMessagebtn {
  margin: 10px;
  padding: 8px 20px;
  width: auto !important;
}
.main-wrapper .contactMe-div .contactMe-div-overlay .contact-form-container .contact-form .sendMessagebtn i {
  font-size: 15px;
  margin-right: 5px;
}
.main-wrapper .social-links-section {
  padding: 35px;
}
.main-wrapper .social-links-section .social-section-inner-grid {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrapper .social-links-section .social-section-inner-grid .icon-container {
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;
  border: 1px solid rgb(0, 0, 0);
  position: relative;
  width: 35px;
  height: 35px;
  margin: 10px;
}
.main-wrapper .social-links-section .social-section-inner-grid .icon-container:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  top: 0;
  left: 0;
  opacity: 0;
}
.main-wrapper .social-links-section .social-section-inner-grid .icon-container:hover {
  background-color: #cf9c63;
  border-color: #cf9c63;
  cursor: pointer;
}
.main-wrapper .social-links-section .social-section-inner-grid .icon-container:hover:after {
  animation: btnZoom 0.5s linear;
}
.main-wrapper .social-links-section .social-section-inner-grid .icon-container .icon-container-inner {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main-wrapper .social-links-section .copyrights-text {
  color: rgb(0, 0, 0);
  padding: 5px;
}
.main-wrapper .social-links-section .copyrights-text span {
  margin: 0px 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid #cf9c63;
}

@media only screen and (max-width: 992px) {
  .right-section {
    margin-left: 0px !important;
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
  .right-section .section-heading {
    margin: 25px 0px;
  }
  .right-section .section-heading span:before, .right-section .section-heading span:after {
    width: 50px;
    margin: 0px 8px;
  }
  .right-section .timeLine-item {
    margin: 5% 0% 5% 5.5% !important;
  }
  .right-section .social-links-section .icon-container {
    max-width: 10% !important;
    margin: 0% 3% !important;
  }
  .right-section .contactMe-div a {
    width: 100%;
  }
}
@media only screen and (max-width: 585px) {
  .download-resume-section .download-section-overlay .primaryBtn {
    margin: 0px !important;
  }
}
@media only screen and (max-width: 767px) {
  .projects-section .fltr-card-container {
    margin: 15px 0px !important;
  }
}/*# sourceMappingURL=main.css.map */